<div class="wrapper-normal">
  <div class="header-home">
    <div>
      <img class="bio-head" alt="Dy" src="{{ site.url }}/images/bio-head.webp" />
    </div>
    <div class="social-links">
      <a class="social" href="https://instagram.com/_dy.pro" target="_blank">
        <i class="fab fa-instagram"> </i>
      </a>
      <a class="social" href="https://twitter.com/dy_hypen" target="_blank">
        <i class="fab fa-twitter"> </i>
      </a>
      <a class="social" href="https://dev.to/dy-" target="_blank">
        <i class="fab fa-dev"> </i>
      </a>
      <a class="social" href="https://kaggle.com/ardyansatya92" target="_blank">
        <i class="fab fa-kaggle"> </i>
      </a>
    </div>
    <p class="description">Web + Data + Eco</p>
  </div>
</div>
