<div class="wrapper-normal">
  <div class="header-home">
    <div>
      <img class="bio-head" alt="Dy" src="{{ site.url }}/images/bio-head.webp" />
    </div>
    <div class="social-links">
      <a class="social" href="https://github.com/dy-pro" target="_blank">
        <i class="fab fa-github"> </i>
      </a>
      <a class="social" href="https://linkedin.com/in/ardyansatya" target="_blank">
        <i class="fab fa-linkedin"> </i>
      </a>
      <a class="social" href="https://whatsapp.com/channel/0029VbCD5Q3EgGfPtIhjgw33 " target="_blank">
        <i class="fab fa-whatsapp"> </i>
      </a>
      <!-- <a class="social" href="https://instagram.com/dyCodev" target="_blank">
        <i class="fab fa-instagram"> </i>
      </a> -->
      <!-- <a class="social" href="https://x.com/dyCodev" target="_blank">
        <i class="fab fa-twitter"> </i>
      </a> -->
      <!-- <a class="social" href="https://dev.to/dy-" target="_blank">
        <i class="fab fa-dev"> </i>
      </a> -->
      <!-- <a class="social" href="https://kaggle.com/ardyansatya92" target="_blank">
        <i class="fab fa-kaggle"> </i>
      </a> -->
    </div>
    <p class="description">Web + Data + Eco</p>
  </div>
</div>
